ज्ञानेश्वर व ज्ञानदेवीविषयी लहानपणापासूनच आदर होता आणि म. वा. धोंड लिखित 'ज्ञानेश्वरीतील लौकिक सृष्टी' वाचल्यानंतर तो आदर द्विगुणीत झाला. ह्या पुस्तकाविषयी सुशान्त देवळेकर सरांशी चर्चा करत असतानाच ज्ञानदेवीच्या टंकित प्रतीविषयी बोलणं झालं. राजवाड्यांनी संपादित केलेली ज्ञानदेवीची प्रत कोणीतरी टंकित केलेली होती. ती तपासून त्यात आवश्यक त्या दुरुस्त्या करण्याचं काम अदिती, तन्वी आणि मी मिळून केलं. हे मुद्रितशोधनाचं काम करताना झालेल्या लाभांपैकी एक म्हणजे ज्ञानदेवी वाचून पूर्ण झाली. ती वाचत असताना धोंडांच्या कामाविषयीही अतीव आदर निर्माण झाला. नवीन तंत्रज्ञान, यंत्रणा शिकता आली. आणि अशा प्रकारची कामं करण्यात किती चिकाटी, गटातील सर्वांची एकजूट लागते ह्याची प्रकर्षाने जाणीव झाली. 
<br>
- प्रज्ञा 

<br><br>

शाळेत असताना ज्ञानेश्वरीशी ओळख झाली. त्या काळात संस्कृत भाषेत अनेक ग्रंथ होते जे सर्वसामान्यांना कळण्यापलीकडे होते. सामान्य माणसांना भगवद्गीतेचं ज्ञान सहज-सोप्या भाषेतून होण्यासाठी ज्ञानेश्वरांनी पहिल्यांदा भावार्थदीपिका म्हणजेच ज्ञानेश्वरीचं लेखन मराठी भाषेत केलं. अशी ही ज्ञानेश्वरी वाचण्याची इच्छा लहानपणापासूनच होती. करोनाकाळात ज्ञानेश्वरीच्या टंकित प्रतीविषयी प्रज्ञाकडून कळलं. या निमित्ताने ज्ञानेश्वरी वाचण्याचा योग आला. मी, प्रज्ञा, अदिती तिघींनी अध्याय वाटून घेतले होते आणि नंतर एकमेकींचेही अध्याय तपासून पाहिले. त्यात दुरुस्त्या केल्या. या सर्वामुळे संपूर्ण ज्ञानेश्वरी वाचून झाली. बर्‍याच नवीन शब्दांची तोंडओळख झाली. त्यांचे अर्थ जाणून घेण्यासाठी प्रयत्न केले गेले. नवीन तंत्रज्ञान शिकता आले. अधूनमधून सुशान्त सर, अनघाबाईंशी आम्हा तिघींच्या चर्चा घडत होत्या. आपण काहीतरी वेगळं करतोय, समृद्ध वारसा जपतोय याची जाणीव होऊ लागली.
<br>
- तन्वी

<br><br>

संत ज्ञानेश्वर, त्यांनी लिहिलेली ज्ञानेश्वरी यांविषयी कथा ऐकत - वाचत मोठी झाले पण प्रत्यक्षात ज्ञानेश्वरी वाचण्याचा योग कधी जुळून आला नाही. करोनाकाळात टाळेबंदीत असताना प्रज्ञाकडून ज्ञानेश्वरीसंबंधित काहीतरी काम करायचं आहे हे कळलं आणि ज्ञानेश्वरी वाचण्याचा योग्य आला, या आनंदात मी प्रज्ञाला लगेच या कामासाठी होकार दिला. पुढे प्रज्ञा, तन्वी आणि माझी सुशान्त देवळेकर सरांशी मुद्रितशोधनाच्या कामाविषयी चर्चा झाली. या चर्चेतून मुद्रितशोधनाच्या कामासोबतच ज्ञानेश्वरीच्या 'ज्ञानदेवी' या नावाविषयी, तिच्या वेगवेगळ्या प्रतींविषयी कळलं.
<br>
आताच्या 'ऑनलाईन' च्या काळात, ज्ञानदेवीच्या रसिक वाचकांसाठी व अभ्यासकांसाठी ज्ञानदेवीही अचूकरीत्या ऑनलाईन स्वरूपात उपलब्ध असणे गरजेचं होतं. त्यासाठी सुशान्त सर काम करत होते आणि त्यातच आम्ही तिघींनी खारीचा वाटा उचलत ज्ञानदेवीच्या टंकित राजवाडे प्रतीत आवश्यक त्या दुरुस्त्या करण्याचं काम केलं.
<br>
ही संपूर्ण प्रक्रिया अनुभवसंपन्न करणारी होती. नवीन प्रकारचं काम,  नवीन यंत्रणा शिकता आली. तसंच ओव्यांची तपासणी - पुनर्तपासणी करताना या कामात प्रचंड संयम, एकाग्रता आणि गटातील सर्वांची सुसूत्रता लागते हे जाणवलं.
<br>
- अदिती तरडे
